.box-blue {
    background-color: blue;
    width: 200px;
    height: 200px;
    margin: auto;
    display: block;
}
.box-green {
    background-color: green;
    width: 200px;
    height: 200px;
    margin: auto;
    display: block;
}
.box-red {
    background-color: red;
    width: 200px;
    height: 200px;
    margin: auto;
    display: block;
}
.box-yellow {
    background-color: yellow;
    width: 200px;
    height: 200px;
    margin: auto;
    display: block;
}

.football {
    margin: 100px 100px 100px 100px;
}